@page
@model ZodiacAgeWebApp.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}
<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

@foreach (var restaurant in Model.Restaurants)
	{
		 <partial name="_Summary" model="restaurant" /> 
	}

<br />
<a asp-page="./Edit" class="btn btn-primary">Add Restaurant</a>




@section footer {

       @Model.Message

}